<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- 레이아웃 페이지에 부트스트랩 등을 설정하면 다른 페이지에 링크 태그들을 붙이지 않아도 됨 -->
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MyNote", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- 클릭 시 controller(Home)을 사용하여 그 안에 있는 action(Index)에서 리턴하는 뷰페이지로 가겠다 -->
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>@Html.ActionLink("홈", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <!-- 레이아웃 필수 코드 : 컨텐츠들(뷰)을 보여주는 코드-->
        @RenderBody()
        <hr />

    </div>

    <!-- footer -->
    <div class="container body-content">
        <footer>
            <p>&copy; @DateTime.Now.Year - MyNote</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
